@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cruzata Technoloy</title>

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/bootstrap/dist/css/bootstrap.min.css")">

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="@Url.Content("~/Content/mdb.css")" rel="stylesheet">

    <!-- Template style -->
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet">




</head>


<body id="divToPrint">

    <!-- Navigation -->
    <nav class="navbar z-depth-1 navbar-custom info-color" style="background-color: #1f364f !important;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand waves-effect waves-light" href="#"><img src="@Url.Content("~/Content/build/images/logo/login-logo.png")"></a>
            </div>

            <ul class="nav navbar-nav navbar-right navbar-right-usernam"></ul>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-red" style="background-color: #1f364f !important;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Page Content -->
    <div class="container-fluid main-container">
        <!--/. Intro section -->

        <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-default z-depth-1 form-maindiv">
                    <div class="panel-heading panel-heading-cus text-center">SERVICE AGREEMENT</div>
                    <div class="panel-body panel-body-cus">
                        <div style="padding-left:10px;padding-right:10px;">
                            <p>&nbsp;</p>
                            <p>This AGREEMENT is made on 10<sup>th</sup> May, 2016 between <b>Cruzata Technologies LLP</b> (Service Provider<b>)</b> an Indian corporation, having its principal place of business at 307, Center Point Building, Sapna Sangeeta Road, Indore(M.P.) India-452001 (<a href="http://www.cruzata.com/">http://www.cruzata.com</a>); and ("<b>@ViewBag.CompName</b>")-(Buyer), address.</p>
                            <br />
                            <p><b>1.</b> This project is defined as in Scope of Work (SOW) below, Cruzata shall perform all necessary tasks to complete the project SOW in agreed time and cost. Changes in SOW are welcome and will have extra time and cost to client.</p>
                            <br />
                            <p><b>2.</b> Each party should appoint single Project Coordinator, respectively. The Project Coordinators will be responsible for timely communication on a regular basis and to ensure coordination, information transfer, project completion and deliveries.</p>
                            <br />
                            <p><b>3.</b> With reference to this agreement invoices will be generated and emailed to either pay by Bank transfers or Paypal.</p>
                            <br />
                            <p><b>4.</b> <b>Confidential Information.</b> Service Provider agrees that during the term of this Agreement and thereafter, except as expressly authorized in writing by Buyer, it (a) will not use or permit the use of Confidential Information (defined below) in any manner or for any purpose not expressly set forth in this Agreement; (b) will not disclose, lecture upon, publish, or permit others to disclose, lecture upon, or publish any such Confidential Information to any third party without first obtaining Buyer&rsquo;s express written consent on a case-by-case basis; (c) will limit access to Confidential Information to Service Provider personnel who need to know such information in connection with their work for Buyer; and (d) will not remove any tangible embodiment of any Confidential Information from Buyer&rsquo;s premises without Buyer&rsquo;s prior written consent. &ldquo;<b>Confidential Information</b>&rdquo; includes, but is not limited to, all information related to Buyer&rsquo;s business and its actual or anticipated research and development, including without limitation (i) trade secrets, inventions, ideas, processes, computer source and object code, formulae, data, programs, other works of authorship, know-how, improvements, discoveries, developments, designs, and techniques; (ii) information regarding products or plans for research and development, marketing and business plans, budgets, financial statements, contracts, prices, suppliers, and customers; (iii) information regarding the skills and compensation of Buyer&rsquo;s employees, contractors, and any other service providers; (iv) the existence of any business discussions, negotiations, or agreements between Buyer and any third party; and (v) all such information related to any third party that is disclosed to Buyer or to Service Provider during the course of Buyer&rsquo;s business (&ldquo;<b>Third Party Information</b>&rdquo;).&nbsp; Notwithstanding the foregoing, it is understood that Service Provider is free to use information that is generally known in the trade or industry, information that is not gained as a result of a breach of this Agreement, and Service Provider&rsquo;s own skill, knowledge, know-how, and experience.</p>
                            <br />
                            <p><b>5.</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>INTELLECTUAL PROPERTY RIGHTS.</b></p>
                            <br />
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <b>5.1</b><b>&nbsp;Inventions and Intellectual Property Rights</b>.&nbsp; As used in this Agreement, the term &ldquo;<b>Invention</b>&rdquo; means any ideas, concepts, information, materials, processes, data, programs, know-how, improvements, discoveries, developments, designs, artwork, formulae, other copyrightable works, and techniques and all Intellectual Property Rights therein.&nbsp; The term &ldquo;<b>Intellectual Property Rights</b>&rdquo; means all trade secrets, copyrights, trademarks, mask work rights, patents and other intellectual property rights recognized by the laws of any country.&nbsp;</p>
                            <br />
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<b>5.2</b> <b>Background Technology.</b> As used in this Agreement, the term &ldquo;<b>Background Technology</b>&rdquo; means all Inventions developed by Service Provider other than in the course of providing services to Buyer hereunder and all Inventions acquired or licensed by Service Provider that Service Provider uses in performing services under this Agreement or incorporates into Work Product.&nbsp; Service Provider will disclose any Background Technology which Service Provider proposes to use or incorporate.&nbsp; If Service Provider discloses no Background Technology, Service Provider warrants that it will not use Background Technology or incorporate it into Work Product provided pursuant thereto.</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<b>5.3</b><b>&nbsp;License to Background Technology.</b>&nbsp; Service Provider hereby automatically upon receipt of payment from Buyer, grants to Buyer a non-exclusive, perpetual, fully-paid and royalty-free, irrevocable and world-wide right, with rights to sublicense through multiple levels of sub licensees, to reproduce, make derivative works of, distribute, publicly perform, and publicly display in any form or medium, whether now known or later developed, make, have made, use, sell, import, offer for sale, and exercise any and all present or future rights in the Background Technology incorporated or used in Work Product.</p>
                            <br />
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<b>5.4</b> <b>Ownership and Assignment of Work Product</b>. Service Provider agrees that upon receipt of payment from Buyer, any and all Work Product will be the sole and exclusive property of Buyer.&nbsp; If Service Provider has any rights to the Work Product that are not owned by Buyer upon creation or embodiment, Service Provider hereby automatically upon receipt of payment from Buyer irrevocably assigns to such Buyer all right, title and interest worldwide in and to such Work Product.&nbsp; Except as set forth below, Service Provider retains no rights to use the Work Product and agrees not to challenge the validity of Buyer&rsquo;s ownership in the Work Product.</p>
                            <br />
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<b>5.5 License to or Waiver of Other Rights</b>. If Service Provider has any right to the Work Product that cannot be assigned by Service Provider, Service Provider hereby automatically upon receipt of payment from</p>
                            <p>Buyer unconditionally and irrevocably grants to Buyer during the term of such rights, an exclusive, even as to Service Provider, irrevocable, perpetual, worldwide, fully paid and royalty-free license, with rights to sublicense</p>
                            <p>through multiple levels of sub licensees, to reproduce, make derivative works of, distribute, publicly perform and publicly display in any form or medium, whether now known or later developed, make, use, sell, import, offer for sale and exercise any and all such rights.&nbsp; If Service Provider has any rights to the Work Product that cannot be assigned or licensed, Service Provider hereby automatically upon receipt of payment from Buyer unconditionally and irrevocably waives the enforcement of such rights, and all claims and causes of action of any kind against Buyer or related to Buyer&rsquo;s customers, with respect to such rights, and agrees, at Buyer&rsquo;s request and expense, to consent to and join in any action to enforce such rights.</p>
                            <br />
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<b>5.6 Assistance.</b> Service Provider agrees to assist Buyer in every way, both during and after the term of this Agreement, to obtain and enforce United States and foreign Intellectual Property Rights relating to Work Product in all countries.</p>
                            <br />
                            <p><b>6.</b> For a period of 3 (three) months following delivery of the Deliverables to client, Cruzata will fix any programming bugs for Free, if occurs (any modification/ changes will be chargeable).</p>
                            <br />
                            <p><b>7.</b> All the services will be provided by Cruzata from Cruzata&rsquo;s facility, any travel or other expenses as occurs will be paid by client.</p>
                            <br />
                            <p><b>8.</b> This project development agreement will be effective till work completion, unless terminated. If terminated, Client agrees to pay Cruzata any of the dues. Either party may terminate this Agreement for:</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<b>a.</b> Completion of Work.</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<b>a.</b> Material breach.</p>
                            <br />
                            <p><b>9.</b> Neither party will be liable for any loses to the other related to scope of work in this Agreement.</p>
                            <br />
                            <p><b>10.</b> Neither party will be held responsible for any delay or failure in performance if such delay is caused by events or circumstances beyond the delayed party's reasonable control, like natural disasters etc. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            <br />
                            <p><b>Payment Schedule/ Milestones:</b></p>
                            <br />
                            <div class="text-center">
                                <table class="table leads-table future-followup">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Milestone</th>
                                            <th class="text-center">Upfront</th>
                                            <th class="text-center">Remaining</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var paymentData in Model.projectPaymentData)
                                        {
                                            <tr>
                                                <td class="text-center">@paymentData.DueDate</td>
                                                <td class="text-center">@paymentData.Upfront</td>
                                                <td class="text-center">@paymentData.Remaining</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><b>Scope of Work (SOW): PHASE I</b></p>
                            <br />
                            <div class="text-center">
                                <table class="table leads-table future-followup">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Task</th>
                                            <th class="text-center">Description</th>
                                            <th class="text-center">Hours</th>
                                            <th class="text-center">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var sowData in Model.projectSowData)
                                        {
                                            <tr>
                                                <td class="text-center">@sowData.Task </td>
                                                <td class="text-center">@sowData.Description</td>
                                                <td class="text-center">@sowData.Hours</td>
                                                <td class="text-center">@sowData.Price</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>We have read and understood the Agreement and "SOW" defined above. We accept this Agreement in aggregate with the information containing in and "SOW" and hereby agree to abide by them.</p>
                            <br />
                            <div style="float:left;">
                                <p><b>For, </b><b>@ViewBag.CompName</b></p>
                                <p>Name: @ViewBag.CompName</p>
                                <p>Date: @DateTime.Now.ToString("d MMM yyyy")</p>
                                <div  style="width:250px;height:50px;">
                                    <p class="signature" style="font-family: 'Mrs Saint Delafield', cursive;font-size:54px;">@ViewBag.Sign</p>
                                </div>
                            </div>
                            <div style="float:right;">
                                <p><b>For, Cruzata Technologies LLP</b></p>
                                <img src="@Url.Content("~/Content/img/e-sign1.jpg")" style="width:150px;height:50px;">
                                <p>Name: Shabbir Hussain</p>
                                <p>Date: @DateTime.Now.ToString("d MMM yyyy")</p>
                            </div>
                            @*<p><b>For, </b><b>@ViewBag.CompName</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>For, Cruzata Technologies LLP</b></p>
                                <br />
                                <p>Name: @ViewBag.CompName&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Name:&nbsp; Shabbir Hussain</p>
                                <p>Date: @DateTime.Now.ToString("d MMM yyyy")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date: @DateTime.Now.ToString("d MMM yyyy")</p>*@
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="hidden" id="SignJson" value="@ViewBag.Sign" />
                        @*<button class="btn btn-primary">Save As PDF</button>*@
                        <button class="btn btn-primary" onclick="javascript:PrintDivContent('divToPrint');">Print</button>
                        <button class="btn btn-danger" onclick="Cancel();">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>


    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="page-footer  darken-1" id="footer">
        <div class="container-fluid footer-conatiner">
            <div class="footer-copyright">
                <div class="container">
                    <div class="col-md-12">
                        &copy; Copyright 2016 Cruzata.com
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- SCRIPTS -->
    <!-- jQuery-->
    @*<script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery/dist/jquery.min.js")"></script>*@

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/south-street/jquery-ui.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <!-- Bootstrap JavaScript-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/bootstrap/dist/js/bootstrap.min.js")"></script>

    <link type="text/css" href="@Url.Content("~/Content/E-sign/jquery.signature.css")" rel="stylesheet">
    <script type="text/javascript" src="@Url.Content("~/Content/E-sign/jquery.signature.js")"></script>

    <script>
        $(document).ready(function () {
            var sign = $("#SignJson").val();
            var obj = $.parseJSON(sign);            
            $("#sign_div").signature({ syncField: '#SyncText' });
            $("#sign_div").signature({ color: '#0000ff' });           
            $('#sign_div').signature('draw', obj);
           
        });
        $('#sign_div').signature({ disabled: true });
    </script>

    <script language="javascript" type="text/javascript">
        function PrintDivContent(divId) {
            var printContent = document.getElementById(divId);
            var WinPrint = window.open('', '', 'left=10,top=10,right=10,toolbar=0,sta­tus=0');

            WinPrint.document.write(printContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
        }
    </script>


    <script>
        function Cancel() {
            window.location = '/Projects/ProjectsHome';
        }
    </script>


</body>





</html>
