@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloderc CRM</title>
    <!-- PACE-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/PACE/themes/blue/pace-theme-flash.css")">
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/PACE/pace.min.js")"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/bootstrap/dist/css/bootstrap.min.css")">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/themify-icons/themify-icons.css")">
    <!-- Malihu Scrollbar-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css")">
    <!-- Animo.js-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/animo.js/animate-animo.min.css")">
    <!-- Flag Icons-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/flag-icon-css/css/flag-icon.min.css")">
    <!-- Bootstrap Progressbar-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css")">
    <!-- Toastr-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/toastr/toastr.min.css")">
    <!-- SpinKit-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/SpinKit/css/spinners/7-three-bounce.css")">


    <!-- DataTables-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datatables.net-buttons-bs/css/buttons.bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datatables.net-colreorder-bs/css/colReorder.bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datatables.net-responsive-bs/css/responsive.bootstrap.min.css")">

    <!-- FullCalendar-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/fullcalendar/dist/fullcalendar.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/fullcalendar/dist/fullcalendar.print.css")" media="print">
    <!-- jQuery MiniColors-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jquery-minicolors/jquery.minicolors.css")">
    <!-- Bootstrap Date Range Picker-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/bootstrap-daterangepicker/daterangepicker.css")">

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/font-awesome/css/font-awesome.min.css")">
    <!-- Bootstrap Markdown-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css")">

    
    <!-- jQuery Steps-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jquery.steps/demo/css/jquery.steps.css")">
    <!-- Primary Style-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/build/css/third-layout.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/build/css/skins/red-skin.css")">

   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <style>
                /* This only works with JavaScript,
        if it's not present, don't show loader */
                .no-js #loader {
                    display: none;
                }

                .js #loader {
                    display: block;
                    position: absolute;
                    left: 100px;
                    top: 0;
                }

                .se-pre-con {
                    position: fixed;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 9999;
                    background: url(../Content/img/Preloader_10.gif) center no-repeat #fff;
                }
    </style>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery/dist/jquery.min.js")"></script>
    <script>
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });

    </script>
</head>
<body>
    <div class="se-pre-con"></div>
    <!-- Header start-->
    <header>
        <div class="search-bar closed">
            <form>
                <div class="input-group input-group-lg">
                    @*<input type="text" placeholder="Search for..." class="form-control"><span class="input-group-btn">
                        <button type="button" class="btn btn-default search-bar-toggle"><i class="ti-close"></i></button>
                    </span>*@
                </div>
            </form>
        </div><a href="#" class="brand pull-left"><img src="@Url.Content("~/Content/build/images/logo/logo-light.png")" alt="" width="100" class="logo"><img src="@Url.Content("~/Content/img/Z-logo.png")" alt="" width="28" class="logo-iconic"></a><a href="javascript:;" role="button" class="hamburger-menu pull-left"><span></span></a>
        <form class="mt-15 mb-15 pull-left hidden-xs">
            <div class="form-group has-feedback mb-0">
                @*<input type="text" aria-describedby="inputSearchFor" placeholder="Search for..." style="width: 200px" class="form-control rounded"><span aria-hidden="true" class="ti-search form-control-feedback"></span><span id="inputSearchFor" class="sr-only">(default)</span>*@
            </div>
        </form>
        <ul class="notification-bar list-inline pull-right">
            <li class="visible-xs"><a href="javascript:;" role="button" class="header-icon search-bar-toggle"><i class="ti-search"></i></a></li>
            <li class="dropdown">
                <a id="dropdownMenu1" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle bubble header-icon"><i class="ti-world"></i><span class="badge bg-danger">6</span></a>
                <div aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-right dm-medium fs-12 animated fadeInDown">
                    <h5 class="dropdown-header">You have 6 notifications</h5>
                    <ul data-mcs-theme="minimal-dark" class="media-list mCustomScrollbar">
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/17.jpg")" alt="" class="media-object img-circle"><span class="status bg-warning"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">William Carlson</h6>
                                    <p class="text-muted mb-0">Commented on your post</p>
                                </div>
                                <div class="media-right text-nowrap">
                                    <time datetime="2015-12-10T20:27:48+07:00" class="fs-11">5 mins</time>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/19.jpg")" alt="" class="media-object img-circle"><span class="status bg-danger"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Barbara Ortega</h6>
                                    <p class="text-muted mb-0">Sent you a new email</p>
                                </div>
                                <div class="media-right text-nowrap">
                                    <time datetime="2015-12-10T20:42:40+07:00" class="fs-11">8 mins</time>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/02.jpg")" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Mark Barnett</h6>
                                    <p class="text-muted mb-0">Sent you a new message</p>
                                </div>
                                <div class="media-right text-nowrap">
                                    <time datetime="2015-12-10T20:50:48+07:00" class="fs-11">9 mins</time>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/11.jpg")" alt="" class="media-object img-circle"><span class="status bg-danger"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Alexander Gilbert</h6>
                                    <p class="text-muted mb-0">Sent you a new email</p>
                                </div>
                                <div class="media-right text-nowrap">
                                    <time datetime="2015-12-10T20:42:40+07:00" class="fs-11">15 mins</time>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/12.jpg")" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Amanda Collins</h6>
                                    <p class="text-muted mb-0">You have 8 unread messages</p>
                                </div>
                                <div class="media-right text-nowrap">
                                    <time datetime="2015-12-10T20:35:35+07:00" class="fs-11">22 mins</time>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/13.jpg")" alt="" class="media-object img-circle"><span class="status bg-warning"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Christian Lane</h6>
                                    <p class="text-muted mb-0">Commented on your post</p>
                                </div>
                                <div class="media-right text-nowrap">
                                    <time datetime="2015-12-10T20:27:48+07:00" class="fs-11">30 mins</time>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown-footer text-center p-10"><a href="javascript:;" class="fw-500 text-muted">See all notifications</a></div>
                </div>
            </li>
            <li class="dropdown hidden-xs">
                <a id="dropdownMenu2" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle header-icon lh-1 pt-15 pb-15">
                    <div class="media mt-0">
                        <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/04.jpg")" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                        <div class="media-right media-middle pl-0">
                            <p class="fs-12 text-base mb-0">Hi, @HttpContext.Current.Session["User"].ToString()</p>
                        </div>
                    </div>
                </a>
                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu fs-12 animated fadeInDown">
                    <li><a href="#"><i class="ti-user mr-5"></i> My Profile</a></li>
                    <li><a href="#"><i class="ti-settings mr-5"></i> Account Settings</a></li>
                    <li><a href="/Authentication/LockScreen"><i class="ti-settings mr-5"></i> Lock</a></li>
                    <li><a href="/Authentication/Logout"><i class="ti-power-off mr-5"></i> Logout</a></li>
                </ul>
            </li>
            <li><a href="javascript:;" role="button" class="right-sidebar-toggle bubble header-icon"><i class="ti-layout-sidebar-right"></i><span class="dot bg-danger"></span></a></li>
        </ul>
    </header>
    <!-- Header end-->
    <div class="main-container">
        <!-- Main Sidebar start-->
        <aside class="main-sidebar">
            <div class="user">
                <div id="esp-user-profile" data-percent="65" style="height: 130px; width: 130px; line-height: 100px; padding: 15px;" class="easy-pie-chart"><img src="@Url.Content("~/Content/build/images/users/04.jpg")" alt="" class="avatar img-circle"><span class="status bg-success"></span></div>
                <h4 class="fs-16 text-white mt-15 mb-5 fw-300">@HttpContext.Current.Session["User"].ToString()</h4>
                <p class="mb-0 text-muted">Admin</p>
            </div>
            <ul class="list-unstyled navigation mb-0">               
                    <li><a href="@Url.RouteUrl("MyAccount")" class="bubble"><i class="ti-home"></i><span class="sidebar-title">My Account</span></a></li>
                    <li><a href="@Url.RouteUrl("AdminDashboard_V_2")" class="bubble"><i class="ti-hand-drag"></i><span class="sidebar-title">CRM</span></a></li>              
                <li class="panel">
                    <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed"><i class="ti-user"></i><span class="sidebar-title">Campaign</span></a>
                    <ul id="collapse2" class="list-unstyled collapse">
                        @*<li><a href="#">Manage leads</a></li>
                        <li><a href="#">Add lead</a></li>*@
                    </ul>
                </li>
                <li class="panel">
                    <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"><i class="ti-email"></i><span class="sidebar-title">Email Marketing</span></a>
                    <ul id="collapse3" class="list-unstyled collapse">
                        @*<li><a href="@Url.RouteUrl("ClientHome")">Manage Clients</a></li>
                        <li><a href="@Url.RouteUrl("ManageClient", new { act = "add" })">Add Client</a></li>*@
                    </ul>
                </li>
                <li><a href="@Url.RouteUrl("UserHome")" class="bubble"><i class="ti-id-badge"></i><span class="sidebar-title">User-Management</span></a></li>
                <li class="panel">
                    <a role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"><i class="ti-settings"></i><span class="sidebar-title">User Setings</span></a>
                    <ul id="collapse5" class="list-unstyled collapse">
                        <li><a href="@Url.RouteUrl("UserSetings")">Genral Setings</a></li>
                        <li><a href="@Url.RouteUrl("EmailSetings")">Outgoing Email</a></li>
                        <li><a href="@Url.RouteUrl("DroplistSetings")">Dropdown List Field Values</a></li>
                    </ul>
                </li>
                <li><a href="@Url.RouteUrl("Subscriptions")" class="bubble"><i class="ti-credit-card"></i><span class="sidebar-title">Subscriptions</span></a></li>
            </ul>
            <div class="sidebar-category">Server Status</div>
            <div class="sidebar-widget">
                <ul class="list-unstyled pl-25 pr-25">
                    <li class="mb-20">
                        <div class="block clearfix mb-10"><span class="pull-left fs-12 text-muted">CPU Used</span><span class="pull-right label label-outline label-warning">65%</span></div>
                        <div class="progress progress-xs bg-light mb-0">
                            <div role="progressbar" data-transitiongoal="65" class="progress-bar progress-bar-warning"></div>
                        </div>
                    </li>
                    <li class="mb-20">
                        <div class="block clearfix mb-10"><span class="pull-left fs-12 text-muted">Bandwidth</span><span class="pull-right label label-outline label-danger">80%</span></div>
                        <div class="progress progress-xs bg-light mb-0">
                            <div role="progressbar" data-transitiongoal="80" class="progress-bar progress-bar-danger"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- Main Sidebar end-->
        @RenderBody()
        <!-- Right Sidebar start-->
        <aside class="right-sidebar closed">
            <ul role="tablist" class="nav nav-tabs nav-justified nav-sidebar">
                <li role="presentation" class="active"><a href="#chat" aria-controls="chat" role="tab" data-toggle="tab"><i class="ti-comment-alt"></i></a></li>
                <li role="presentation"><a href="#announcement" aria-controls="announcement" role="tab" data-toggle="tab"><i class="ti-announcement"></i></a></li>
                <li role="presentation"><a href="#ticket" aria-controls="ticket" role="tab" data-toggle="tab"><i class="ti-bookmark-alt"></i></a></li>
                <li role="presentation"><a href="#setting" aria-controls="setting" role="tab" data-toggle="tab"><i class="ti-settings"></i></a></li>
            </ul>
            <div data-mcs-theme="minimal-dark" class="tab-content nav-sidebar-content mCustomScrollbar">
                <div id="chat" role="tabpanel" class="tab-pane fade in active">
                    <form>
                        <div class="form-group has-feedback">
                            <input type="text" aria-describedby="inputChatSearch" placeholder="Chat with..." class="form-control rounded"><span aria-hidden="true" class="ti-search form-control-feedback"></span><span id="inputChatSearch" class="sr-only">(default)</span>
                        </div>
                    </form>
                    <ul class="chat-list mb-0 fs-12 media-list">
                        <li class="media">
                            <a href="javascript:;" class="conversation-toggle">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/20.jpg")" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Jane Curtis</h6>
                                    <p class="text-muted mb-0">Where are you from?</p>
                                </div>
                                <div class="media-right"><span class="badge bg-danger">2</span></div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;" class="conversation-toggle">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/01.jpg")" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Edward Garcia</h6>
                                    <p class="text-muted mb-0">Nice to meet you.</p>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;" class="conversation-toggle">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/02.jpg")" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Bruce Olson</h6>
                                    <p class="text-muted mb-0">What do you want to do?</p>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;" class="conversation-toggle">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/03.jpg")" alt="" class="media-object img-circle"><span class="status bg-warning"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Martha Rodriguez</h6>
                                    <p class="text-muted mb-0">I'm hungry.</p>
                                </div>
                                <div class="media-right"><span class="badge bg-danger">1</span></div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;" class="conversation-toggle">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/05.jpg")" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Hannah Williamson</h6>
                                    <p class="text-muted mb-0">Do you know the address?</p>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;" class="conversation-toggle">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/06.jpg")" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Anthony Mills</h6>
                                    <p class="text-muted mb-0">No problem.</p>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;" class="conversation-toggle">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/07.jpg")" alt="" class="media-object img-circle"><span class="status bg-warning"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Ethan Stanley</h6>
                                    <p class="text-muted mb-0">Hello?</p>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;" class="conversation-toggle">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/08.jpg")" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Jonathan Castro</h6>
                                    <p class="text-muted mb-0">OK. Thanks.</p>
                                </div>
                                <div class="media-right"><span class="badge bg-danger">1</span></div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;" class="conversation-toggle">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/09.jpg")" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Denise Rose</h6>
                                    <p class="text-muted mb-0">Bye bye.</p>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;" class="conversation-toggle">
                                <div class="media-left avatar"><img src="@Url.Content("~/Content/build/images/users/10.jpg")" alt="" class="media-object img-circle"><span class="status bg-danger"></span></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Eugene Meyer</h6>
                                    <p class="text-muted mb-0">How are you?</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="announcement" role="tabpanel" class="tab-pane fade">
                    <ul class="media-list mb-0 fs-12">
                        <li class="media">
                            <div class="media-left"><i class="ti-bar-chart-alt media-object mo-xs img-circle bg-primary text-center"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">Market Trend Data</h6>
                                <p class="text-muted mb-0">Mattis nam fringilla dui nostra, ad fames fusce venenatis massa.</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left"><i class="ti-package media-object mo-xs img-circle bg-success text-center"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">Change Your Password!</h6>
                                <p class="text-muted mb-0">Varius dolor condimentum hendrerit eleifend est urna neque fames faucibus?</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left"><i class="ti-gift media-object mo-xs img-circle bg-warning text-center"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">We Apologize</h6>
                                <p class="text-muted mb-0">Justo at mauris ridiculus conubia penatibus dis varius proin porttitor!</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left"><i class="ti-harddrives media-object mo-xs img-circle bg-info text-center"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">Content Policy Update</h6>
                                <p class="text-muted mb-0">Quis ante imperdiet a volutpat quam tellus condimentum blandit elementum.</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left"><i class="ti-mobile media-object mo-xs img-circle bg-purple text-center"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">Mobile Apps</h6>
                                <p class="text-muted mb-0">Ad iaculis at feugiat integer lobortis vivamus hac egestas venenatis.</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left"><i class="ti-alarm-clock media-object mo-xs img-circle bg-danger text-center"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">New Features</h6>
                                <p class="text-muted mb-0">Primis elementum facilisi tristique faucibus feugiat enim rutrum id himenaeos.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="ticket" role="tabpanel" class="tab-pane fade">
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Username" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Subject" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea rows="6" placeholder="Description" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-block btn-success">Create Ticket</button>
                    </form>
                </div>
                <div id="setting" role="tabpanel" class="tab-pane fade">
                    <form class="form-horizontal fs-12">
                        <div class="clearfix">
                            <h6 class="pull-left">Maintenance Mode</h6>
                            <div class="switch pull-right">
                                <input id="setting-1" type="checkbox" checked="">
                                <label for="setting-1" class="switch-success"></label>
                            </div>
                        </div>
                        <p class="text-muted">Ipsum non tempor non nullam nisi congue nisi amet enim.</p>
                        <div class="clearfix">
                            <h6 class="pull-left">Location Services</h6>
                            <div class="switch pull-right">
                                <input id="setting-2" type="checkbox" checked="">
                                <label for="setting-2" class="switch-success"></label>
                            </div>
                        </div>
                        <p class="text-muted">Eleifend suscipit erat cursus viverra commodo nostra sit commodo mollis.</p>
                        <div class="clearfix">
                            <h6 class="pull-left">Display Errors</h6>
                            <div class="switch pull-right">
                                <input id="setting-3" type="checkbox" checked="">
                                <label for="setting-3" class="switch-success"></label>
                            </div>
                        </div>
                        <p class="text-muted">Amet per tortor adipiscing risus dolor orci diam curabitur senectus.</p>
                        <div class="clearfix">
                            <h6 class="pull-left">Use SEO URLs</h6>
                            <div class="switch pull-right">
                                <input id="setting-4" type="checkbox" checked="">
                                <label for="setting-4" class="switch-success"></label>
                            </div>
                        </div>
                        <p class="text-muted">Ullamcorper dignissim facilisis fames proin a leo diam amet urna.</p>
                        <div class="clearfix">
                            <h6 class="pull-left">Enable History</h6>
                            <div class="switch pull-right">
                                <input id="setting-5" type="checkbox" checked="">
                                <label for="setting-5" class="switch-success"></label>
                            </div>
                        </div>
                        <p class="text-muted">Consectetur cubilia varius vulputate fermentum non dolor cubilia torquent risus.</p>
                    </form>
                </div>
            </div>
        </aside>
        <aside class="conversation closed">
            <h5 class="text-center m-0 p-20">Edward Garcia<a href="javascript:;" class="conversation-toggle pull-left"><i class="ti-arrow-left text-muted"></i></a><a href="javascript:;" class="pull-right"><i class="ti-pencil text-muted"></i></a></h5>
            <ul data-mcs-theme="minimal-dark" class="media-list chat-content fs-12 pl-20 pr-20 mCustomScrollbar">
                <li class="media">
                    <div class="media-left avatar"><img src="../build/images/users/04.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                    <div class="media-body">
                        <p>Hello.</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted">09:45 PM <i class="ti-check text-success"></i></time>
                    </div>
                </li>
                <li class="media other">
                    <div class="media-body">
                        <p>Hi.</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted pull-right">09:46 PM <i class="ti-check text-success"></i></time>
                    </div>
                    <div class="media-right avatar"><img src="../build/images/users/18.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                </li>
                <li class="media">
                    <div class="media-left avatar"><img src="../build/images/users/04.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                    <div class="media-body">
                        <p>How are you?</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted">09:47 PM <i class="ti-check text-success"></i></time>
                    </div>
                </li>
                <li class="media other">
                    <div class="media-body">
                        <p>I'm good. How are you?</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted pull-right">09:50 PM <i class="ti-check text-success"></i></time>
                    </div>
                    <div class="media-right avatar"><img src="../build/images/users/18.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                </li>
                <li class="media">
                    <div class="media-left avatar"><img src="../build/images/users/04.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                    <div class="media-body">
                        <p>Good. Do you speak English?</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted">09:55 PM <i class="ti-check text-success"></i></time>
                    </div>
                </li>
                <li class="media other">
                    <div class="media-body">
                        <p>A little. Are you American?</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted pull-right">09:56 PM <i class="ti-check text-success"></i></time>
                    </div>
                    <div class="media-right avatar"><img src="../build/images/users/18.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                </li>
                <li class="media">
                    <div class="media-left avatar"><img src="../build/images/users/04.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                    <div class="media-body">
                        <p>Yes.</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted">10:00 PM <i class="ti-check text-success"></i></time>
                    </div>
                </li>
                <li class="media other">
                    <div class="media-body">
                        <p>Where are you from?</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted pull-right">10:01 PM <i class="ti-check text-success"></i></time>
                    </div>
                    <div class="media-right avatar"><img src="../build/images/users/18.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                </li>
                <li class="media">
                    <div class="media-left avatar"><img src="../build/images/users/04.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                    <div class="media-body">
                        <p>I'm from California.</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted">10:03 PM <i class="ti-check text-success"></i></time>
                    </div>
                </li>
                <li class="media other">
                    <div class="media-body">
                        <p>Nice to meet you.</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted pull-right">10:04 PM <i class="ti-check text-success"></i></time>
                    </div>
                    <div class="media-right avatar"><img src="../build/images/users/18.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                </li>
                <li class="media">
                    <div class="media-left avatar"><img src="../build/images/users/04.jpg" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>
                    <div class="media-body">
                        <p>Nice to meet you too.</p>
                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-11 text-muted">10:05 PM <i class="ti-check text-success"></i></time>
                    </div>
                </li>
            </ul>
            <form class="pl-20 pr-20">
                <div class="form-group has-feedback mb-0">
                    <input type="text" aria-describedby="inputSendMessage" placeholder="Sent a message" class="form-control rounded"><span aria-hidden="true" class="ti-pencil-alt form-control-feedback"></span><span id="inputSendMessage" class="sr-only">(default)</span>
                </div>
            </form>
        </aside>
        <!-- Right Sidebar end-->
    </div>


    <div id="loader" style="position: fixed; top: 0; left: 0; height: 100%; width: 100%; display: none; background-color: black; opacity: 0.7; z-index: 999;">
        <img src="@Url.Content("~/Content/img/loader.gif")" style="position: absolute; margin-left: 50%; height: 100px; margin-top: 320px;" />
    </div>
    <!-- jQuery-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery/dist/jquery.min.js")"></script>
    <!-- Bootstrap JavaScript-->
    @*<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/bootstrap/dist/js/bootstrap.min.js")"></script>
    <!-- Malihu Scrollbar-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")"></script>
    <!-- Animo.js-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/animo.js/animo.min.js")"></script>
    <!-- Bootstrap Progressbar-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js")"></script>

    <!-- Toastr-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/toastr/toastr.min.js")"></script>
    <!-- MomentJS-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/moment/min/moment.min.js")"></script>
    <!-- jQuery BlockUI-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/blockUI/jquery.blockUI.js")"></script>
    <!-- jQuery Counter Up-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery-waypoints/waypoints.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/Counter-Up/jquery.counterup.min.js")"></script>

    <!-- Flot Charts-->
    <!--[if lte IE 8]>
    <script type="text/javascript" src="https://raw.githubusercontent.com/flot/flot/master/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/flot/jquery.flot.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/flot/jquery.flot.resize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/flot.curvedlines/curvedLines.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js")"></script>

    <!-- DataTables-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/datatables.net/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/datatables.net-buttons/js/dataTables.buttons.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/datatables.net-buttons-bs/js/buttons.bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jszip/dist/jszip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/pdfmabuild/pdfmake.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/pdfmabuild/vfs_fonts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/datatables.net-buttons/js/buttons.print.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/datatables.net-buttons/js/buttons.html5.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/datatables.net-responsive/js/dataTables.responsive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/datatables.net-responsive-bs/js/responsive.bootstrap.js")"></script>
    <!-- jQuery UI-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery-ui/jquery-ui.min.js")"></script>
    <!-- FullCalendar-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/fullcalendar/dist/fullcalendar.min.js")"></script>
    <!-- jQuery MiniColors-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery-minicolors/jquery.minicolors.min.js")"></script>
    <!-- Bootstrap Date Range Picker-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/bootstrap-daterangepicker/daterangepicker.js")"></script>
    <!-- Summernote-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/summernote/dist/summernote.min.js")"></script>
    <!-- jQuery Steps-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery.steps/build/jquery.steps.min.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Content/build/js/page-content/forms/forms-wizard.js")"></script>*@

    <!-- Bootstrap Markdown-->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/bootstrap-markdown/js/bootstrap-markdown.js")"></script>
    <!-- Custom JS-->
    <script type="text/javascript" src="@Url.Content("~/Content/build/js/third-layout/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/build/js/third-layout/demo.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/build/js/page-content/skins/red-dashboard.js")"></script>

    
    <script type="text/javascript" src="@Url.Content("~/Content/CustomJs/cusJs.js")"></script>
   
    <script type="text/javascript" src="@Url.Content("~/Content/BootstrapCountryPicker/bootstrap-formhelpers-countries.en_US.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/BootstrapCountryPicker/bootstrap-formhelpers-countries.js")"></script>


    

</body>
</html>